/* Base styles */
body {
  overflow:               hidden;
}

@font-face {
  font-family:            GoudyBookletter;
  src:                    url('../fonts/goudy-bookletter/GoudyBookletter.otf');
}

.slide {
  margin:                 0 auto;
  width:                  1024px;
  text-align:             center;

  font-size:              2em;
  font-family:            GoudyBookletter, Helvetica;

  color:                  #500;
  margin-top:             100px;
}

.slide.image {
  margin-top:             0px;
}

h2 {
  margin:                 0;
}

ul {
  list-style:             none;
  padding:                0;
}

dl {
  text-align:             left;
}
dl dt {
  font-size:              1.2em;
}

strong {
  color:                  red;
}

.light {
  font-size:              0.8em;
}

/* Slide type-specific styles */
.slide.short {
  margin-top:             300px;
}
.slide.short dt {
  font-size:              1.5em;
}

.slide.image {
  margin-top:             20px;
}
.slide.image img {
  max-height:             750px;
  max-width:              900px;
}
.slide.image.stretch img {
  height:                 600px;
  margin-top:             65px;
}

.slide.image.code {
  width:                  500px;
  background-color:       black;
  text-align:             left;
  padding:                15px;
}

/* Slide-specific styles */
#iterative ol,
#waterfall ol {
  list-style:             none;
  color:                  black;
  display:                table;
  width:                  100%;
  margin:                 0 0 2em;
}
#waterfall ol.waterfall {
  margin-top:             1.5em;
}
#iterative ol.iterative,
#waterfall ol.iterative {
  float:                  left;
  width:                  20%;
}
#iterative ol li,
#waterfall ol li {
  display:                table-cell;
  padding:                0 5px;
}
#iterative ol li span,
#waterfall ol li span {
  position:               relative;
  bottom:                 1.5em;
}
#iterative ol li.spec ,
#waterfall ol li.spec {
  background-color:       red;
  width:                  30%;
}
#iterative ol li.design ,
#waterfall ol li.design {
  background-color:       yellow;
  width:                  20%;
}
#iterative ol li.build ,
#waterfall ol li.build {
  background-color:       blue;
  width:                  20%;
}
#iterative ol li.test ,
#waterfall ol li.test {
  background-color:       green;
  width:                  15%;
}
#iterative ol li.deploy ,
#waterfall ol li.deploy {
  background-color:       black;
  width:                  2%;
}
#iterative ol li.maintain ,
#waterfall ol li.maintain {
  background-color:       orange;
  width:                  13%;
}

}

}

#number-choice p {
  margin-top:             200px;
  font-size:              4.5em;
}
#number-choice p span {
  margin-right:           1em;
}
#number-choice p span:last-child {
  margin-right:           0px;
}

#haml img {
  border:                 15px black solid;
}
